html {
  font-size: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(16px + 0.75vw);
  line-height: 1.3;
  font-family: $font-body;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: $font-title;
}

section {
  padding: 0 27px 160px;
}
