header {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  grid-gap: 20px;
  align-items: center;
  background: $introBlue;
  padding: 25px 20px 50px 20px;

  @include breakpoint(large) {
    grid-gap: 56px;
    padding: 73px 80px;
  }

  img {
    width: 83px;

    @include breakpoint(large) {
      width: 185px;
    }
  }

  a {
    font-size: 0.875rem;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    @include breakpoint(large) {
      font-size: 1rem;
    }
  }
}
